extends layouts/main

block content
   .form-container
        form(action=routes.changePassword, method="post")
        <!--'post' makes the information hide-->
            input(type="password", name='password', placeholder="Current Password")
            input(type="password", name='password', placeholder="New Password")
            input(type="password", name='password', placeholder="Verify Password")
            input(type="submit", value="Change Password")